*{
    font-family: 'Darker Grotesque', sans-serif;
    
    
}

    
 ul li{
    list-style-type: none;
    display: flex;
    
}
#title{
    color: brown;
}
#title span{
    color: black;
}

/* articles page styling */
#img-responsive{
    width: 100%;
    height: 220px;
}
#article-card{
    height: 80vh;
    background-color: red;
}