{%extends 'base.html'%}
{%block content%}
<h2>News Sources</h2>
<ul>
    {% for news_source in sources%}
        <li>{{news_source.name}}
            <br>
            {{news_source.description}}
            <br>
            <span>Language: {{news_source.language}}  ---- country: <em>{{news_source.country}}</em> </span>
            <br>
            <p><a href="/articles/{{news_source.id}}">CheckOut {{news_source.name}} Articles </a></p>
            <a href="{{news_source.url}}"><button>see News</button></a>
        </li>
    {%endfor%}
</ul>
{%endblock%}
    
