{%extends 'base.html'%}
{%block content%}
<div class="container-fluid">
    <h2 class="text-center" id="title"> <span>New</span> Sources</h2>

    <div class="row text-center">
        {% for news_source in sources%}
        <div class="col-md-4 d-flex justify-content-center">

            <div class="card  text-center mb-3 p-3" id="article-card">
                <div>
                    <h5 class="card-title fw-bold fs-4">{{news_source.name}}</h5>
                    <hr>
                    <p class="card-text fs-5">
                        {{news_source.description}}
                    </p>
                    <span id="font"> <i class="fa-solid fa-language"></i> Language<em
                            class="fw-bold fs-4">{{news_source.language}}</em> <i class="fa-solid fa-earth-europe"></i>
                        country: <em class="fw-bold fs-4">{{news_source.country}}</em> </span>
                    <br>

                    <a href="/articles/{{news_source.id}}"><button type="button"
                            class="btn btn-outline-info fw-bold">CheckOut
                            {{news_source.name}} Articles</button> </a>
                    <br>
                    <br>
                    <a href="{{news_source.url}}"><button type="button" class="btn btn-outline-info btn-sm">see
                            News</button></a>
                </div>
            </div>
        </div>

    </div>
</div>

{%endfor%}
{%endblock%}