<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- page title -->
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title>welcome to Reuby News ---Todays insights </title>
    {% endif %}
</head>
<body>
    <h2>News Sources</h2>
    <ul>
        {% for news_source in sources%}
            <li>{{news_source.name}}
                <br>
                {{news_source.description}}
                <br>
                <span>Language: {{news_source.language}}  ---- country: <em>{{news_source.country}}</em> </span>
                <br>
                <a href="{{news_source.url}}"><button>see News</button></a>
            </li>
        {%endfor%}
    </ul>
    
</body>
</html>